[Unit]
Description=Simple hello world unit
After=network.target
[Service]
Type=simple
ExecStartPre=echo "I was born"
ExecStart=/home/phile/Documents/UCU_Linux_Club/homework/week9/hello_world.sh
ExecStop=/home/phile/Documents/UCU_Linux_Club/homework/week9/bye_world.sh
User=phile
Group=phile
[Install]
WantedBy=multi-user.target
