[Unit]
Description=Timer for hello_world service that executes given program each 10 sec

[Timer]
OnBootSec=1min
OnUnitActiveSec=10s
Persistent=true
AccuracySec=1us

[Install]
WantedBy=timers.target
