[Unit]
Description=Clears cache each week

[Timer]
OnCalendar=weekly
AccuracySec=1h
RandomizedDelaySec=2000
Persistent=true

[Install]
WantedBy=timers.target
