# On every push this script is executed
on: push
name: Build and deploy GH Pages
jobs:
  build:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      # Checkout
      - uses: actions/checkout@v2
      # Build & deploy
      - name: Deploy to gh-pages branch
        uses: shalzz/zola-deploy-action@v0.17.2
        env:
          # Target branch
          PAGES_BRANCH: website
          BUILD_DIR: docs
          # Provide personal access token
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
